@use "./../../styles/abstracts/variables" as *;

.TaskCard{
    background-color: $task-color;
    border: 2px solid rgb(200, 3, 3);
    padding: $spacing-md;
    border: $radius-md;
    margin-bottom: $spacing-md;
    
    & h3{
        margin-bottom: $spacing-md;
    }
    & p{
        margin-bottom: $spacing-md;
    }
    & span{
        display: inline-block;
        padding: $spacing-md;
        border-radius: $radius-md;
        background-color: #fee2e2;
    }
}