@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables" as *;

.header{
    @include mixins.flex-center;
    padding: 1rem 2rem;
    border-bottom: 2px solid $secondry-color;

    & h1{
       margin-right: 10px; 
    }
    
    & button{
        background-color: white;
        width: 150px;
        height: 30px;
        border-radius: $radius-sm;
        color: rgba($color: $task-color, $alpha: 0.5);
        border:3px dotted hsla(0, 0%, 0%, 0.671);
        font-weight: 600;
        transition: 
            color 0.3s ease,
            border-color 0.1s ease;

        &:hover{
            color: black;
            border-color: black;
        }
    }
}