@use "./styles/abstracts/variables" as *;
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $font-color;
    background-color: #110C27;
}
.main{
    display: flex;
    flex: 1;
}